{% extends 'layout.html' %}

{% block title%} Sign-up {% endblock %}

{% block content %}
</br>
<div class="card align-items-center">
    <div class="card-content col-4">
        <form method="POST">
            <h3 align="center">Sign Up</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter username">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
                <label for="password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Re-Enter Password">
            </br>
            <div align="center">
            <button class="btn btn-primary" type="submit">Login</button>
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}